.Yandex_search {
    width: 350px;
    height: 60px;
    background: linear-gradient(45deg, #bbffcb, #ffb230);
}
.myinput {
    height:25px;
    width: 250px;
    margin: 5px 0 0 5px;
    box-shadow: 0px 0px 3px 0px #c6c6c6 inset;
    border: 1px solid #c6c6c6;
}
.submit {
    width: 70px;
    height: 26px;
    display: block;
    position: relative;
    margin-left: 260px;
    margin-top: -27px;
}
p {
    display: inline-block;
    margin-top: 5px;
    margin-left: 5px;
    font-family: serif;
    font-size: 14px;
}
span {
    border-bottom: 1px dotted #000;
    cursor: pointer;
}

.nos {
    z-index: 1;
    margin-top: -60px;
    margin-left: 333px;
    position: absolute;
    width: 0;
    height: 0;
    border-top: 31px solid white;
    border-left: 18px solid transparent;
    border-bottom: 31px solid white;
}
.Yandex_search:hover {
    width: 450px;
    transition: all 2s;
}
.Yandex_search:hover ~ .nos {
    margin-left: 433px;
    transition: all 2s;
}
@keyframes my-custom-name {
    /* from, to = 0%, 100% */

    from { width: 350px; }
    50% { width: 400px; }
    to {width: 450px; }
}

