body {
    width: 100%;
    font-family: "Impact", sans-serif;
    margin: auto;
}
.menu {
    background: #a64dff;
    width: 900px;
    left: 0;
    right: 0;
    margin: 1px;
    box-shadow: 0 1px 0 1px #e7eaec, 0 -1px 0 1px #e7eaec;
}
.menu li {
    text-align: center;
    color: white;
    display: inline-block;
    padding: 5px;
}
.menu li:hover {
    color: rgba(122, 133, 140, 0.89);
    background: rgb(228, 239, 242);
    box-shadow: 0 1px 1px 0  #c8d4db,
                0 1px 1px 0  #c8d4db,
                1px 0 1px 0 #f6f9fb,
                -1px 0 1px 0 #f6f9fb;
}

