body {
    max-width: 999px;
    width: 100%;
}
[class*=wrapper]{
    max-width: 980px;
    width: 100%;
    height: 100%;
    margin: 0 1em 0 2em;
    position: relative;
}
.banner_wrapper p{width: 50%;}
.good_point{height: auto;}
.gp_1, .gp_2, .gp_3 {
    width: 100%;
    height: 16em;
    margin: 2em 0 0 0;
}
.imagine{
    width: 30%;
    float: left;
}
